.home-page {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    width: 100%;
    
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}